body { width: 90%;
    margin: auto;


    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(69,41,8,1) 140%);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    line-height: 2.0;
    color: rgb(51, 25, 0)
}

h1,h2 {
    text-align: center;
    color: rgb(51, 25, 0);
}

table, th, td {
  border: 1px solid;
}

a:visited {
  color: rgb(53, 199, 207);
}

a:link {
  color: black;
}

q {
    width: 50%;
    size: 160%;
}